<html>
<meta http-equiv="content-type" content="text/html"; charset="utf-8"/>
<title> Welcome </title>
<body>
{% if not "login" in session %}
<form action="{{ url_for('.index')}}" method=post>
<table frame="box">
	<tr>
		<th>Username:</th>
		<th><input type=text name=username></th>
	</tr>
	<tr>
		<th>Password:</th>
		<th><input type=password name=password></th>
	</tr>
	<tr>
		<th></th>
		<th><input type=submit value=Login></th>
		<th><a href="{{url_for(".regisit")}}"><button>Regisit</button></a></th>
	</tr>
</table>
{% endif %}
{% if "login" in session %}
	<a href="#">Modify Info</a>
	<a href="{{url_for(".getUser",username=session["login"]["username"])}}">{{session["login"]["nickname"]}}</a>
	<a href="{{url_for(".logout")}}">Log out</a>
	<p><a href="resume">New Resume</a></p>
{% endif %}
</form>
</body>

</html>
